{{>navbar}}

<div style="height: 90vh;" class="container p-5">
    <h3 class="text-center text-uppercase mb-4">Farmacias</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each farmacias}}
            <tr>
                <td class="text-uppercase">{{this.nombre}}</td>
                <td class="text-uppercase">{{this.direccion}}</td>
                <td class="text-success"><a href="http://localhost:4000/farmacias/editar/{{this.id}}"><button
                            class="btn btn-outline-primary btn-sm">Editar</button></a></td>
                <td class="text-success" onclick="eliminar({{this.id}})"><button
                        class="btn btn-danger btn-sm">x</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>

    const eliminar = id => {
        swal({
            title: "!Aviso!",
            text: "¿Desea eliminar este farmacia?",
            icon: "warning",
            dangerMode: true,
            buttons: true
        }).then(res => {
            if (res == true) {
                let resultado = fetch(`http://localhost:4000/farmacias/${id}`, {
                    method: 'DELETE'
                })

                swal({
                    title: "¡Hecho!",
                    text: "Farmacia eliminado exitosamente",
                    icon: "success"
                }).then(() => {
                    window.location.href = url + '/farmacias'
                })
            } else {
                return
            }
        })

    }
</script>