<style>
    .loader {
        position: absolute;
        z-index: 10000;
        height: 100%;
        width: 100%;
        background: white;
    }

    .animate {
        animation: FadeOut .4s;
    }

    .remove {
        opacity: 0;
        z-index: 0;
    }

    .img-loader {
        background: url("/img/farma.jpg");
        height: 80%;
        width: 50%;
        background-size: cover;
        margin: auto;
    }

    @keyframes FadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>

<div class="loader" id="loader">
    <h1 class="text-center mt-4 text-primary">Bienvenido a FarmaApp</h1>
    <div class="img-loader">

    </div>
</div>

<div class="container p-5">
    <div class="card">
        <h3 class="card-header text-center text-uppercase" style="letter-spacing: 1rem;">
            Inicio de sesion
        </h3>
        <div class="card-body">

            <form method="POST" id="form-log">
                <div class="row p-5">
                    <div class="col-md-12">
                        <label for="cedula" class="form-label text-uppercase">Correo</label>
                        <input type="text" class="form-control" id="correo" placeholder="Correo electrónico" required>
                    </div>
                    <div class="col-md-12 mt-4">
                        <label class="form-label text-uppercase">Clave</label>
                        <input type="password" class="form-control" id="clave" placeholder="Clave de acceso" required>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-success mt-4 mb-4" id="btnsubmit" type="submit">Ingresar</button>
                </div>

                <div class="text-center">
                    <a class="text-secondary" href="/farmaceutas/registro">Registro</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        localStorage.removeItem('rol')

        const remove = () => {
            document.getElementById("loader").className += " animate"
        }

        setTimeout(() => {
            remove()

            setTimeout(() => {
                document.getElementById("loader").className += " remove"
            }, 400)
        }, 3000)


        let formLog = document.getElementById('form-log');

        formLog.addEventListener('submit', e => {
            e.preventDefault();

            let body = {
                correo: document.getElementById('correo').value,
                clave: document.getElementById('clave').value,
            }

            btnDisable(document.getElementById('btnsubmit'), 'Cargando...');

            let res = post(body, '/farmaceutas/login')
                .then(res => {
                    btnEnable(document.getElementById('btnsubmit'), 'Ingresar')

                    if (res.ok === false) {
                        console.log(res)
                        swal({
                            title: "¡Error!",
                            text: res.msg,
                            icon: "error"
                        });
                        return;
                    }

                    if (!res.ok) {
                        console.log(res)
                        swal({
                            title: "¡Error!",
                            text: "¡No se pudo conectar con el servidor!",
                            icon: "error"
                        });
                        return;
                    }

                    localStorage.removeItem('rol')
                    localStorage.setItem('rol', res.rol)
                    localStorage.setItem('medico', res.id_medico)

                    window.location.href = url + '/recipes/consulta/farmacias';
                })
                .catch(err => {
                    console.error(err)
                })
        });
    </script>