<div class="container p-5">
    <div class="card">
        <h3 class="card-header text-center text-uppercase" style="letter-spacing: 1rem;">
            Registro de usuario
        </h3>
        <div class="card-body">

            <form method="POST" id="form-reg">
                <div class="row p-5">
                    <div class="col-md-6">
                        <label for="cedula" class="form-label text-uppercase">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre(s)" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-uppercase">Apellido</label>
                        <input type="text" class="form-control" id="apellido" placeholder="Apellido(s)" required>
                    </div>
                    <div class="col-md-6 mt-4">
                        <label class="form-label text-uppercase">Correo</label>
                        <input type="email" class="form-control" id="correo" placeholder="Correo electrónico" required>
                    </div>
                    <div class="col-md-6 mt-4">
                        <label class="form-label text-uppercase">Clave</label>
                        <input type="password" class="form-control" id="clave" placeholder="Clave de acceso" required>
                    </div>
                    <div class="col-md-6 mt-4">
                        <label class="form-label text-uppercase">Pregunta de seguridad</label>
                        <select name="" id="pregunta" class="form-control">
                            <option value="">Seleccione una pregunta...</option>
                            {{#each preguntas}}
                            <option value="{{this.id}}">{{this.pregunta}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-6 mt-4">
                        <label class="form-label text-uppercase">Respuesta</label>
                        <input type="text" class="form-control" id="respuesta" placeholder="Ingrese una respuesta"
                            required>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-success mt-4 mb-4" id="btnsubmit" type="submit">Registrar</button>
                </div>

                <div class="text-center">
                    <a class="text-secondary" href="/">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let formReg = document.getElementById('form-reg');

    formReg.addEventListener('submit', e => {
        e.preventDefault();

        if (document.getElementById('pregunta').value == "") {
            swal({
                title: "¡Aviso!",
                text: "Seleccione una pregunta",
                icon: "warning"
            })

            return;
        }

        let body = {
            nombre: document.getElementById('nombre').value,
            apellido: document.getElementById('apellido').value,
            correo: document.getElementById('correo').value,
            clave: document.getElementById('clave').value,
            pregunta: document.getElementById('pregunta').value,
            respuesta: document.getElementById('respuesta').value.toUpperCase()
        }

        btnDisable(document.getElementById('btnsubmit'), 'Cargando...');

        let res = post(body, '/registro')
            .then(res => {
                btnEnable(document.getElementById('btnsubmit'), 'Registrar')

                if (res.ok === false) {
                    console.log(res)
                    swal({
                        title: "¡Error!",
                        text: res.msg,
                        icon: "error"
                    });
                    return;
                }

                if (!res.ok) {
                    console.log(res)
                    swal({
                        title: "¡Error!",
                        text: "¡No se pudo conectar con el servidor!",
                        icon: "error"
                    });
                    return;
                }

                swal({
                    title: "¡Hecho!",
                    text: res.msg,
                    icon: "success"
                })
                    .then(() => window.location.href = url);
            })
            .catch(err => {
                console.error(err)
            })
    });
</script>